@import url('./reset.css');

body {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #826ac4;
}

.border {
  border: 10px ridge #3498db; 
  padding: 20px 50px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  background-color: beige;
  height: 500px;
  width: 800px;
 }

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 35px;
  color: #826ac4;
  margin-bottom: 50px;
}

form {
  margin: 20px;
}

label, input {
  display: block;
  margin-bottom: 10px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#heroName, #heroXP {
  border-radius: 10px;
  height: 40px;
  font-size: 18px;
  background-color: #ffffff;
}

label {
  margin-top: 40px;
}

button {
  font-size: 16px;
  padding: 10px;
  background: linear-gradient(to right, #2980b9, #ff98db);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: linear-gradient(to right, #FF98db, #2980b9);
}

#result.visible {
  display: block;
}

#result {
  margin-top: 10px;
  font-weight: bold;
  color: rgb(25, 0, 255);
  background-color:rgb(177, 223, 235);
  padding: 10px;
  border-radius: 10px;
  display: none;
}

.message {
  margin-top: 10px;
  font-weight: bold;
  color: red;
}

.hero-name, .hero-XP {
  color: green;

}
