body {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #826ac4;
}

.border {
  border: 10px ridge #3498db; 
  padding: 20px 50px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  background-color: beige;
  height: 500px;
  width: 800px;
 }

h1 {
  font-family: 'Press Start 2P', cursive;
  color: #826ac4;
  margin-bottom: 50px;
}

form {
  margin: 20px;
}

label, input {
  display: block;
  margin-bottom: 10px;
}

#heroName, #heroXP {
  border-radius: 10px;
  height: 40px;
  font-size: 18px;
}

label {
  margin-top: 40px;
}

button {
  padding: 10px;
  background: linear-gradient(to right, #2980b9, #ff98db);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(to right, #FF98db, #2980b9);
}

#result {
  margin-top: 10px;
  font-weight: bold;
}

  